{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <div class="heading">
       <h2>Face Recognition Data </h2> 
    </div>
    <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">    
    <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
 <body>
    <table style="width:100%">
       <tr>
           
    {% for i in rows%}

<td>
     <div class="container">
         <div class="row">
            <div class="card" style="width: 18rem;">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{i.name}}</h5>
                      <p class="card-text"><b>ID:</b> {{i.id}}</p>
                      <p class="card-text"><b>Status:</b> {{i.status}}</p>
                     
                    </div>
                  </div>
                 </div>
      </div>
    </div>
</td>
{% endfor%}
    </tr>


    

    </div>
    </div>
    
     
     
    
      </body>
      
 </body>


</html>
