<!DOCTYPE html>
<html>
    <head>
       <h2>Covid +Ve dudes roaming here and there </h2> </head>
 <body>
    <br>
   
    <table style="width:100%">
      <tr>
        <th>Name</th>
        <th>Time</th> 
        <th>Date</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>
         {% for i in columns.name %}
         <p> {{i}} <p>
         {% endfor%}

        </td>
        <td>
         {% for i in columns.time %}
         <p> {{i}} <p>
         {% endfor%}
        </td>
        <td>
         {% for i in columns.date %}
         <p> {{i}} <p>
         {% endfor%}
        </td>
        <td>
         {% for i in columns.status %}
         <p> {{i}} <p>
         {% endfor%}
        </td>
      </tr>
      
       
      </tr>
    </table>
    
 </body>


</html>

